@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap");
.revenue-content {
  background-color: #6330d5;
  padding: 3.5em 0;
}

.revenue-content p {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.2;
  padding: .5em 1em;
  margin: auto;
  text-transform: uppercase;
}

.revenue-content h6 {
  opacity: 0.15;
  background-color: #ffffff;
  width: 60%;
  height: 1px;
  margin: auto;
}

.revenue-content h5 {
  font-size: 1.4em;
  color: #ffffff;
  opacity: 0.8;
  font-weight: normal;
  padding: 1em 0;
}

.revenue-content button {
  padding: 1em 2em;
  border-radius: 60px;
  background-color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  color: #6330d5;
  margin: 1em 0;
}

footer {
  background-color: #050038;
  color: #ffffff;
  padding: 2em 0;
}

footer h5, footer p {
  font-weight: normal;
  font-size: 0.8em;
}

footer p {
  font-weight: 500;
}

footer img {
  width: 20px;
}

.header-banner {
  height: 100vh;
}

.bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

#svg-icon {
  width: 100%;
  height: 100%;
}

#img2 {
  width: 35%;
  x: 57%;
  y: 15%;
}

.imag-bg1 {
  width: 100%;
  height: 100vh;
  background-image: url("../images/temp.svg");
  background-attachment: fixed;
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.navbar-light {
  padding: 30px 0;
}

.navbar-light .navbar-brand {
  font-weight: 900;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-item {
  margin: auto;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  color: #000000;
  padding: 0.5rem 0.8rem;
}

.navbar-light .navbar-nav .nav-link :hover {
  color: #6330d5 !important;
}

.navbar-light .navbar-nav .active a {
  font-weight: 600;
  color: #6330d5 !important;
}

.navbar-light .navbar-nav button {
  width: 186px;
  height: 48px;
  border-radius: 60px;
  background-color: #6330d5;
  border: none;
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
}

.model-img {
  display: none;
}

#svg-icon1 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

.banner-content {
  height: calc(100% - 120px);
}

.banner-content .padd-cont {
  padding-top: 5%;
}

.banner-content h1 {
  font-size: 3em;
  color: #000000;
  font-weight: bold;
}

.banner-content h2 {
  font-size: 2em;
  font-weight: normal;
}

.banner-content .float-right {
  margin-top: 20px;
  width: 40%;
}

.banner-content .building-cont {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5;
}

.banner-content .building-author {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 15px;
}

.banner-content .building-place {
  font-size: 1em;
  margin-top: 5px;
}

.header-banner2 {
  background-color: #6330d5;
}

.header-banner2 .navbar-brand {
  color: #fff !important;
}

.header-banner2 .nav-link {
  color: #fff !important;
}

.header-banner2 .contact-form h2 {
  color: #ffffff;
}

.header-banner2 .contact-form p {
  color: #ffffff;
  width: 80%;
  margin: auto;
  opacity: 0.8;
  font-size: 1em;
  font-weight: 100;
  padding: 1%;
}

.header-banner2 .contact-form button {
  color: #6330d5;
  font-size: 1.25em;
  line-height: 1.5;
  border-radius: 50px;
  background-color: #ffffff;
  margin: auto;
  display: block;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.header-banner2 .contact-form .form-row {
  margin: 40px 0;
}

.header-banner2 .contact-form input {
  background: none;
  border: none;
  border-bottom: 1px solid #895af0;
  color: #ffffff;
}

.header-banner2 .contact-form input:focus {
  border-color: #ffffff;
}

.header-banner2 .contact-form input:focus {
  outline: none;
}

.header-banner2 .contact-form input:focus ~ .floating-label,
.header-banner2 .contact-form input:not(:focus):valid ~ .floating-label {
  top: -10px;
  bottom: 10px;
  left: 0px;
  font-size: 11px;
  opacity: 1;
}

.header-banner2 .contact-form .inputText {
  font-size: 14px;
  width: 100%;
  height: 35px;
}

.header-banner2 .contact-form .inp-position {
  width: 80%;
  margin: auto;
  display: block;
  position: relative;
}

.header-banner2 .contact-form .floating-label {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  color: #fff;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  font-size: 0.9em;
}

.header-banner2 .contact-form select {
  background: none;
  border: none;
  border-bottom: 1px solid #895af0;
  background: #6330d5;
  color: #ffffff;
  border-radius: 0px;
  width: 80%;
  padding: 0;
  font-size: 14px;
  margin: auto;
  display: block;
}

.header-banner2 .contact-form select:focus {
  color: #fff;
  outline: none !important;
  border: none;
}

.about-container {
  padding: 3.5rem 2em;
}

.about-container p {
  font-size: 1.75em;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.tabular-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em 0;
}

.tabular-content ul {
  width: 35%;
}

.tabular-content ul li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
  padding: 1em 0.8em;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.4)), color-stop(0%, #f3f3f4));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.4), #f3f3f4 0%);
}

.tabular-content ul li a {
  font-size: 1em;
  color: #6330d5;
  text-decoration: none;
  font-weight: bold;
}

.tabular-content ul li a span {
  font-weight: normal;
  color: #333333;
  font-size: 0.8em;
}

.tabular-content ul li .active {
  color: #6330d5;
  border-left: 2px solid #6330d5;
}

.tabular-content .tab-content {
  width: 65%;
}

.business-content {
  background-color: #faf9fb;
  padding: 20px 0;
}

.business-content h4 {
  padding: 30px 0;
  font-size: 2.4em;
  font-weight: bold;
  color: #000000;
}

.business-content .row {
  padding: 50px 0;
}

.business-content .row h5 {
  color: #6330d5;
  font-size: 1.75em;
  line-height: 1.2em;
  padding-bottom: 0.4em;
}

.business-content .row section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.business-content .row section icon {
  margin-right: 15px;
}

.business-content .row section p {
  font-size: 1em;
  margin-bottom: 0.8em;
}

.business-content .logoIcon {
  width: 72px;
  margin-top: -40px;
  margin-left: 12%;
}

.business-content .text-logo {
  display: none;
}

.testimonials-content {
  padding: 4em 0;
}

.testimonials-content h3 {
  padding-bottom: 50px;
  font-size: 2.4em;
  font-weight: bold;
}

.testimonials-content .row .col-lg-4 {
  padding: 0 2px;
}

.testimonials-content .row .padd-out {
  margin: 10px;
  background-color: #faf9fb;
  height: 100%;
}

.testimonials-content .row h5 {
  font-size: 1em;
  font-weight: bold;
  padding: 0 15px;
}

.testimonials-content .row h6 {
  font-size: 0.8em;
  padding: 0 15px;
}

.testimonials-content .row p {
  font-size: 0.75em;
  padding: 0 15px;
}

.testimonials-content .row img {
  width: 100%;
  margin-bottom: 20px;
}

.testimonials-content h4 {
  padding: 1.6em 0;
  font-size: 1.7em;
  font-weight: bold;
  color: #6330d5;
}

.about-content {
  padding: 5% 0;
}

.about-content h2 {
  font-size: 2.75em;
}

.about-content h3 {
  font-size: 1.75em;
  line-height: 1.36;
  padding: 25px 0 15px 0;
}

.about-content h6 {
  line-height: 1.5;
  padding: 10px 5%;
}

.about-content .thubmnail-container {
  padding-top: 5%;
}

.about-content p {
  font-size: 1em;
  line-height: 1.36;
  font-weight: 500;
  padding-bottom: 5px;
}

.about-content p span {
  color: #6330d5;
}

.about-content .thumbnail a:hover {
  text-decoration: none;
}

.about-content .thumbnail .caption {
  padding: 25px 10%;
}

.about-content .thumbnail .caption p {
  font-size: 1em;
  color: #000;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.about-content h4 {
  padding: 0.5em 0;
  font-size: 1.7em;
  font-weight: bold;
  color: #6330d5;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }
  .banner-content {
    font-size: 70%;
  }
  .col-sm-0 {
    display: none;
  }
  .business-content .row {
    padding: 2em 0;
  }
  .business-content .text-right {
    text-align: left !important;
  }
  .business-content .text-cont {
    padding-top: 2em;
  }
  .business-content img {
    width: 80%;
    margin: auto;
    display: block;
  }
  .business-content .logoIcon {
    margin-top: -20px;
    display: none;
  }
  .business-content .text-logo {
    display: inline;
    width: 55px;
    margin-left: 5px;
  }
  .about-content {
    padding: 5%;
  }
}

@media only screen and (max-width: 570px) {
  #svg-icon, #svg-icon1 {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }
  #img2 {
    display: none;
  }
  .model-img {
    display: block !important;
    width: 70%;
    position: absolute;
    bottom: 0;
    right: -15%;
  }
  .navbar-light .navbar-brand {
    display: block;
    margin: auto;
    margin-left: calc(100vw - 50% - 100px);
  }
  .about-content {
    padding: 5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
/*# sourceMappingURL=base.css.map */