body{margin: 0;padding: 0;font-family: 'Noto Serif', serif;}
.cartPageHeader{height: auto;width: 100%;background-color: #151515;}
.cartPageHeader p{color: #ffffff; text-align: center;margin: 0;line-height: 2.5;font-size: 14px;}
.bodyContent{width: 100%; max-width: 968px;margin: auto;display: block;}
.header{font-family: 'Lato', sans-serif;color: #151515;padding: 20px 0;position: relative;overflow: hidden;}
.header ul {margin: 0;padding: 0;list-style: none;overflow: hidden;background-color: #fff;}
.header li a {display: block;padding: 10px;text-decoration: none;cursor: pointer;}
.header li a:hover, .header .menu-btn:hover { background-color: #f4f4f4; }
.header .logo { display: block;float: left;font-size: 2em;padding: 10px 0px;text-decoration: none;color: #151515;}
.header .menu { clear: both;max-height: 0;transition: max-height .2s ease-out;}
.basketIcon{float: right;}
.header .menu-icon { cursor: pointer;display: inline-block;float: right;padding: 28px 20px;position: relative;user-select: none;}
.header .menu-icon .navicon { background: #333;display: block;height: 2px;position: relative;transition: background .2s ease-out;width: 18px;}
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after { background: #333;content: '';display: block;height: 100%;position: absolute;transition: all .2s ease-out; width: 100%; }
.header .menu-icon .navicon:before{top:5px}
.header .menu-icon .navicon:after{top:-5px}
.header .menu-btn {display:none}
.header .menu-btn:checked~.menu{max-height:240px}
.header .menu-btn:checked~.menu-icon .navicon{background:0 0}
.header .menu-btn:checked~.menu-icon .navicon:before{transform:rotate(-45deg)}
.header .menu-btn:checked~.menu-icon .navicon:after{transform:rotate(45deg)}
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before{top:0}
.basketIcon{width:20px;margin-top: -4px;}
.contentContainer{width: 100%;display: inline-flex;padding-top: 50px;}
.imageContainer{width: 60%;}
.detailsContainer{width: 40%;margin-left: 5%;}
@media (min-width:48em) { 
	.header li {float:left}
	.header li a {padding:20px 10px;}
	.header .menu {clear:none;float:right;max-height:none}
	.header .menu-icon {display:none}
}
.colorContent{color: #2b2b2b;font-weight: 700;text-align: center;}
.selectcolor{padding: 10px;border: none;background: #f6f6f6;margin: auto;display: block;}
.carouselPin{text-align:center;padding: 10px;background: #f7f7f7;}
.item_title{text-align: center;letter-spacing: 2px;font-weight: 100;letter-spacing: 2px;color: #2b2b2b;}
.price_content{color: #a31919;font-weight: 700;text-align: center;}
.price_content span{color:#232424;text-decoration: line-through;}
.highlight_line{height:2px;width:40px;background: #a4a4a4;margin: auto;display: block;}
.addCart{margin-top:35px;margin-bottom:50px;border: 2px solid #a3a3a3;border-radius:3px; color: #4d4e4e;background-color: #fff;width: 140px;height: 40px;font-weight: 700;}
.descrptionCont{color:#606161;padding: 5px 0;}
.social_icons{display: table;margin: auto;margin-top: 35px;}
.social_icons img{width: 25px;margin-top: -4px;}
.social_icons a{margin-right: 15px;font-size: 12px;font-weight: 600;}
.footercontent{float: right;text-align: right;font-size: 13px;font-weight: 400;color: #6f6f6f;}
.footercontent ul{padding: 0;display: inline-flex;}
.footercontent ul li{list-style: none;}
.footercontent ul li img{width:35px}
footer{width: 100%; max-width: 968px;margin: auto;display: block;padding: 30px 0;}
footer .highlight_line{margin-top: 40px;margin-bottom: 40px;}
footer h4 {float: left;}
footer p{margin: 0;}

.mySlides {display: block}
img {vertical-align: middle;}
.slideshow-container {max-width: 1000px;position: relative;margin: auto;}
.basketMobileIcon{display: none;}
.prev, .next {cursor: pointer;position: absolute;top: 50%;width: auto;padding: 16px;margin-top: -22px;color: white;font-weight: bold;font-size: 18px;transition: 0.6s ease;border-radius: 0 3px 3px 0;user-select: none;}

.next{right:0;border-radius:3px 0 0 3px}
.next:hover,.prev:hover{background-color:rgba(0,0,0,.8)}
.dot{cursor:pointer;height:12px;width:12px;margin:0 2px;background-color:#bbb;border-radius:50%;display:inline-block;transition:background-color .6s ease}
.active,.dot:hover{background-color:#717171}
.fade{-webkit-animation-name:fade;-webkit-animation-duration:1.5s;animation-name:fade;animation-duration:1.5s}
@-webkit-keyframes fade{from{opacity:.4}to{opacity:1}}
@keyframes fade{from{opacity:.4}to{opacity:1}}
@media only screen and (max-width:300px){
	.next,.prev,.text{font-size:11px}
}

@media only screen and (max-width:768px){
	.contentContainer{display: block;}
	.imageContainer{width: 100%;}
	.detailsContainer{width:90%;margin: auto;display: block;}
	footer h4, .footercontent {float: none;text-align: center;}
	.contentContainer{padding: 0;}
	.header .menu-icon{ float: left;margin-top: -20px;}
	.basketMobileIcon{display:block;margin-top: -40px;margin-right: 10px;}
	.header .logo{text-align: center;float: none;}
	.hideMobile{display: none;}
}

