@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap");
header {
  padding: 45px 0 0 0;
  position: relative;
  z-index: 4;
}

header .logo,
header .checkbox {
  display: none;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: 300;
}

header ul li {
  list-style: none;
  margin: 23px 3em 0 0;
  position: relative;
}

header ul li img {
  width: 100%;
}

header ul .menu-link a {
  color: #999999;
  text-decoration: none;
  opacity: 0.7;
}

header ul .menu-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #1c1c1c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

header ul .menu-link a:hover {
  color: #000000;
}

header ul .menu-link a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

header ul .mobile-link-menu {
  display: none;
}

header ul .firstChild {
  padding: 0;
  width: 65px;
  height: 40px;
  margin: 0 3em 0 0;
}

.bannerContainer {
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 600px;
}

.bannerContainer .squishContainer {
  position: absolute;
  height: 100%;
  width: 85%;
  left: -45%;
  z-index: 4;
  transform: skewX(-25deg) translateX(0);
}

.bannerContainer .leftContainer {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
}

.bannerContainer .rightContainer {
  position: absolute;
  width: 70%;
  right: 0;
  height: 100%;
  z-index: 1;
}

.bannerContainer .rightContainer .imageTopContainer {
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 144px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bannerContainer .rightContainer .imageTopContainer figure {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(/images/rome.jpg);
}

.split-container {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.split-row-adjustment-2 .slash-image {
  left: 35%;
}

figure.slash-image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-image, .slash-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.split-row .grid-container {
  position: relative;
  height: 100%;
  z-index: 4;
}

.split-row .grid-container {
  position: relative;
  height: 100%;
  z-index: 4;
}

.grid-container {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.split-row-adjustment-2 .split-row-content {
  width: 45%;
  padding: 180px 0 140px 0;
}

.split-row-before {
  position: absolute;
  top: 0;
  left: -40%;
  bottom: 0;
  width: 85%;
  background: #ffffff;
  transform: skewX(-25deg);
}

.slash-row.split-row-last .split-row-before:before {
  content: "";
}

@media only screen and (max-width: 1855px) {
  .grid-container {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .grid-container {
    padding-left: 3%;
    padding-right: 3%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
  }
}

.roadmap-line {
  position: relative;
  margin-top: 20px;
  height: 300px;
  overflow: hidden;
}

.roadmap-line .roadmap-line-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  transition: all 300ms ease-out;
}

.roadmap-line .roadmap-line-items .timeline-item {
  float: left;
  position: relative;
  width: 420px;
  height: 100%;
}

.roadmap-line .roadmap-line-items .timeline-item .timeline-item-period {
  position: absolute;
  left: -73px;
  bottom: 103px;
  width: 200px;
  font-size: 90px;
  font-weight: 300;
  color: #222222;
  text-align: left;
  transition: all 300ms ease-out;
  transform: rotate(-90deg);
}

.roadmap-line .roadmap-line-items .timeline-item .timeline-item-content {
  position: absolute;
  left: 100px;
  right: 120px;
  bottom: 60px;
  color: #333;
  font-size: 14px;
}

.roadmap-line .roadmap-line-items:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 0;
  height: 1px;
  background: #757575;
}

.roadmap-line .timeline-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 1px;
  height: 30px;
  background: #757575;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  .logo,
  .checkbox {
    display: block !important;
  }
  .navbar {
    width: 100%;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .navbar .menu-items {
    display: flex;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .navbar .nav-container a:hover {
    font-weight: bolder;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  .navbar .menu-items li {
    margin-bottom: 2.3rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  .logo img {
    width: 40px;
    padding-top: 20px;
  }
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0) skew(-25deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    background: #fff;
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    background: #fff;
  }
  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
  #banner .split-row-before {
    left: -77% !important;
    background-color: #6dc85e;
  }
  .portfolio #profileContainer .split-row-before {
    left: -89% !important;
    background-color: #ffffff !important;
  }
  .portfolio .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1, .portfolio .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    background-color: #646464 !important;
  }
  .portfolio .menu-items {
    background-color: #fbfbfb !important;
  }
  .portfolio .menu-items ul li {
    color: #646464 !important;
  }
  .transformContainer .split-row-before {
    display: none;
  }
  .manageContainer .highlightText {
    width: 100%;
  }
  .manageContainer .highlightText .backText {
    font-size: 30px;
    line-height: 1;
    max-width: 100%;
    padding: 35px 0;
  }
  .manageContainer .portfolioLight {
    font-size: 18px;
    padding: 40px 10px 20px 0;
  }
}

body {
  font-family: 'Signika', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 92%;
  max-width: 1260px;
  margin: auto;
  display: block;
}

.colorContent {
  color: #6dc85e;
}

#banner {
  height: 100vh;
}

#banner .split-row-content h2 {
  font-size: 46px;
  font-weight: 300;
  margin: 0;
  max-width: 300px;
}

#banner .split-row-content img {
  width: 150px;
  margin-top: 30px;
}

#banner .split-row-content p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.portfolio {
  height: auto !important;
}

.portfolio .split-row-content {
  padding: 100px 0 70px 0 !important;
}

.portfolio .split-row-content h2 {
  max-width: 100% !important;
}

.portfolio .split-row-content p {
  padding: 15px 0;
}

.portfolio .slash-image {
  height: 100vh;
}

.transformContainer .highlightContainer {
  min-height: 340px;
  background-color: #d7fc68;
}

.transformContainer .highlightContainer .latestText {
  color: black;
  position: absolute;
  left: 40%;
  max-width: 450px;
  padding-top: 8%;
}

.transformContainer .highlightContainer .latestText h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 300;
}

.transformContainer .highlightContainer .latestText h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 15px 0 10px 0;
}

.transformContainer .highlightContainer .latestText h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.manageContainer {
  margin-bottom: 8%;
}

.manageContainer .highlightText .backText {
  width: 100%;
  font-size: 36px;
  font-weight: 300;
  padding: 60px 0;
  max-width: 420px;
}

.flex-container h4 {
  margin: 0;
  font-size: 52px;
  font-weight: 300;
}

.flex-container p {
  margin: 0;
  font-size: 14px;
  color: #757575;
  font-weight: 300;
}

.portfolioLight {
  padding: 60px 60px 50px 0;
  font-size: 18px;
  color: #757575;
  font-weight: 300;
  line-height: 1.5;
}

.navlink {
  font-size: 14px;
  font-weight: 200;
}

.navlink:after {
  content: "→";
  margin-left: 5px;
  transition: all 500ms ease-out;
}

.codeContainer {
  height: 100vh;
}

.codeContainer .slash-image {
  width: auto;
  height: 100%;
  left: 18% !important;
}

.codeContainer .split-row-before {
  left: -35%;
}

.codeContainer .codecontainerText {
  padding-top: 15%;
}

.codeContainer .codecontainerText h2 {
  font-size: 38px;
  font-weight: 100;
  margin: 0;
  line-height: 1;
}

.codeContainer .codecontainerText p {
  font-size: 18px;
  color: #757575;
  font-weight: 200;
  padding: 20px 0;
  margin: 0;
}

.codeContainer .flex-container > div {
  line-height: 1.5;
}

.codeContainer .borderColor {
  border-right: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
}

.codeContainer .flex-container {
  margin-top: 40px;
  max-width: 350px;
}

.codeContainer .flex-container h4 {
  line-height: 1;
}

.codeContainer .flex-container p {
  padding: 10px 0;
  font-size: 14px;
}

.customerContainer {
  margin: 110px 0;
}

.customerContainer .highlightText h2 {
  font-size: 38px;
  font-weight: 100;
  margin: 0;
  line-height: 1;
}

.customerContainer .highlightText p {
  font-size: 18px;
  color: #757575;
  font-weight: 200;
  padding: 20px 0;
  margin: 0;
}

.customerContainer .roadMapContainer {
  position: relative;
}

.customerContainer .roadMapContainer h3 {
  font-size: 90px;
  font-weight: 300;
  color: #222222;
  margin: 0;
  line-height: 1;
  text-align: left;
  transform: rotate(-90deg);
}

.customerContainer .roadMapContainer section {
  float: left;
}

footer .grid-container {
  border-top: 1px solid #f0f0f0;
}

footer .grid-container ul {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  float: left;
}

footer .grid-container ul li {
  display: inline-block;
  padding: 0 15px;
  vertical-align: top;
  padding-top: 10px;
  color: #757575;
  font-weight: 300;
}

footer .grid-container ul li img {
  margin-top: -8px;
}

footer .grid-container p {
  margin-top: 45px;
  text-align: right;
  color: #757575;
  font-weight: 300;
  margin-bottom: 40px;
  float: right;
}

.portfolioGroup {
  padding: 5% 0;
  height: auto;
  overflow: hidden;
}

.portfolioGroup .company-container {
  width: 30%;
  float: left;
}

.portfolioGroup .company-container h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}

.portfolioGroup .company-container p {
  font-size: 18px;
  color: #757575;
  font-weight: 300;
  line-height: 1.5;
}

.portfolioGroup .company-logo-container {
  width: 65%;
  float: right;
}

.portfolioGroup .company-logo-container .hover-logo {
  width: 33%;
  float: left;
  margin-bottom: 40px;
}

.portfolioGroup .company-logo-container .hover-logo a img {
  max-width: 180px;
  margin: auto;
  display: block;
}

.companies-conainer h4 {
  font-size: 20px;
  font-weight: 400;
}

.companies-conainer .company-names {
  margin-bottom: 50px;
}

.companies-conainer .company-names ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.companies-conainer .company-names ul li {
  display: inline-block;
  min-width: 17%;
  margin-right: 7%;
  padding: 20px 0;
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#profileContainer .split-row-content {
  width: 35%;
}

#profileContainer .split-row-content h2 {
  font-size: 38px;
  padding-bottom: 30px;
}

#profileContainer .split-row-content p {
  font-size: 18px;
}

#profileContainer .slash-image section {
  width: 50% !important;
  float: left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: skewX(-25deg);
  transform-origin: bottom left;
  left: 0;
  display: block;
  width: 50%;
}

#profileContainer .slash-image section .innerElement {
  height: 50%;
  position: absolute;
  width: 100%;
  margin: 0;
  height: 50%;
  left: 0;
}

#profileContainer .slash-image section .innerElement .childeElement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}

#profileContainer .slash-image .split-image {
  background-image: url(./images/burgers.jpg);
  width: 150%;
  height: 100%;
  margin: 0;
  background-size: cover;
  transform: skewX(25deg);
  transform-origin: bottom left;
}

#profileContainer .groupswitch {
  padding-top: 40px;
}

#profileContainer .groupswitch .header-switch {
  margin: 0;
  padding: 0;
  position: relative;
}

#profileContainer .groupswitch .header-switch li {
  padding: 5px 0;
  list-style: none;
}

#profileContainer .groupswitch .header-switch li a {
  text-decoration: none;
  color: #757575;
  font-size: 17px;
  font-weight: 300;
  padding: 0 15px;
}

#profileContainer .groupswitch .header-switch li:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 1px;
  height: 100%;
  background: #999;
}

#profileContainer .groupswitch .header-switch li:after {
  content: "";
  position: absolute;
  top: 13%;
  left: 0;
  width: 13px;
  height: 1px;
  background: #999;
}

#profileContainer .groupswitch .header-switch li:nth-child(1):after {
  top: 50px;
}

#profileContainer .groupswitch .header-switch li:nth-child(2):after {
  top: 80px;
}

#profileContainer .groupswitch .header-switch li:nth-child(3):after {
  top: 110px;
}

#profileContainer .groupswitch .header-switch:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -3px;
  border: 3.5px solid transparent;
  border-top: 5px solid #999;
}

@media only screen and (max-width: 600px) {
  #banner {
    height: auto;
  }
  #banner .split-row-adjustment-2 .slash-image {
    left: 0 !important;
    height: 400px;
    position: relative;
  }
  #banner .split-row-adjustment-2 .split-row-content {
    padding: 50px 20px;
    width: 100%;
  }
  #banner .split-row-adjustment-2 .split-row-content h2 {
    font-size: 34px;
  }
  #banner .split-row-adjustment-2 .split-row-content img {
    margin: 0px 0;
    max-width: 100px;
  }
  #banner .split-row-adjustment-2 .split-row-content p {
    line-height: 1.4;
  }
  #banner .menu-items {
    background-color: #6dc85e;
    width: 106%;
    position: fixed;
    left: -10px;
  }
  #banner .menu-items ul {
    display: block;
    transform: skewX(25deg);
  }
  #banner .menu-items ul .firstChild {
    display: none;
  }
  #banner .menu-items ul li {
    text-align: left;
  }
  #banner .menu-items ul li a {
    font-size: 32px;
    color: #f0f0f0;
    font-weight: 200;
  }
  #banner .menu-items ul li a:hover {
    color: #ffffff;
  }
  #banner .menu-items ul li a:hover::before {
    visibility: none;
    transform: scaleX(0);
  }
  #banner .menu-items ul .mobile-link-menu {
    display: block;
    opacity: 1;
  }
  #banner .grid-container {
    z-index: -1;
  }
  .portfolio .menu-items ul li a {
    color: #222222 !important;
    opacity: 0.7;
  }
  .portfolio .menu-items ul li .active {
    opacity: 1;
  }
  .transformContainer .highlightContainer .latestText {
    position: relative;
    width: auto;
    right: 0;
    padding: 80px 60px;
    left: 0;
  }
  .customerContainer {
    margin: 20px 0;
  }
  .customerContainer .highlightText {
    width: 100%;
  }
  .codeContainer {
    height: auto;
  }
  .codeContainer .split-row-before {
    display: none;
  }
  .codeContainer .slash-image {
    position: relative;
    height: 400px;
    left: 0 !important;
  }
  .codeContainer .codecontainerText {
    padding: 60px 0;
    width: 100%;
  }
  .codeContainer .flex-container {
    min-width: 100%;
    margin-top: 20px;
  }
  .manageContainer .flex-container {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .manageContainer .flex-container div {
    width: 45%;
    float: left;
    margin: 0;
    line-height: 1.1;
    min-height: 100px;
  }
  .roadmap-line {
    height: auto;
    overflow: visible;
  }
  .roadmap-line .roadmap-line-items {
    position: relative;
    width: 100%;
  }
  .roadmap-line .roadmap-line-items .timeline-item {
    float: none;
    width: auto;
    height: auto;
    margin: 0 0 40px 0;
    padding: 0 0 0 40px;
  }
  .roadmap-line .roadmap-line-items .timeline-item .timeline-item-period {
    position: relative;
    left: 0;
    bottom: auto;
    width: auto;
    font-size: 50px;
    transform: rotate(0deg);
  }
  .roadmap-line .roadmap-line-items .timeline-item .timeline-item-content {
    position: relative;
    left: 0;
    right: 0;
    bottom: auto;
  }
  .roadmap-line .roadmap-line-items .timeline-item:after {
    bottom: auto;
    top: 35px;
    left: -15px;
    width: 40px;
    height: 1px;
    background: #757575;
  }
  .roadmap-line .roadmap-line-items:after {
    height: 0px;
  }
  footer .grid-container ul {
    float: none;
    margin-bottom: 5px;
  }
  footer .grid-container .footerLink {
    margin: 10px 0 20px 0;
  }
  footer .grid-container .footerLink li {
    display: block;
  }
  footer .grid-container p {
    float: none;
    margin: 10px 0 40px 0;
    text-align: left;
    padding-left: 10px;
  }
  .portfolioGroup .company-logo-container .hover-logo a img {
    max-width: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .companies-conainer .company-names ul li {
    min-width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .split-row-before {
    left: -35%;
  }
  .portfolioGroup .company-container {
    width: 100%;
    float: none;
  }
  .portfolioGroup .company-logo-container {
    width: 100%;
    float: none;
    padding-top: 30px;
  }
  .companies-conainer .company-names ul li {
    min-width: 42%;
  }
}
