// app.css
@import "header";
@import "banner";
@import "splice";
@import "media";

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');

body {
    font-family: 'Signika', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 92%;
    max-width: 1260px;
    margin: auto;
    display: block;

}

.colorContent {
    color: $text-color-green;
}

#banner {
    height: 100vh;

    .split-row-content {
        h2 {
            font-size: 46px;
            font-weight: 300;
            margin: 0;
            max-width: 300px;
        }

        img {
            width: 150px;
            margin-top: 30px
        }

        p {
            color: $text-gray;
            font-size: 16px;
            font-weight: 300;
            margin: 0;
        }
    }
}

.transformContainer {
    .split-row-before {
        top: 20%;
        left: -45%;
    }

    .slash {
        left: 23.5%;
    }

    .highlightContainer {
        min-height: 340px;
        background-color: $bg-green;

        .latestText {
            color: rgb(0, 0, 0);
            position: absolute;
            left: 40%;
            max-width: 450px;
            padding-top: 8%;

            h4 {
                margin: 0;
                font-size: 22px;
                font-weight: 300;
            }

            h3 {
                font-size: 32px;
                font-weight: 300;
                margin: 15px 0 10px 0;
            }

            h5 {
                margin: 0;
                font-size: 18px;
                font-weight: 300;
            }

        }
    }
}

.manageContainer {
    margin-bottom: 8%;

    .highlightText {

        .backText {
            width: 100%;
            font-size: 36px;
            font-weight: 300;
            padding: 60px 0;
            max-width: 420px;
        }
    }
}

.flex-container {
    h4 {
        margin: 0;
        font-size: 52px;
        font-weight: 300;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: $text-gray;
        font-weight: 300;
    }
}

.portfolioLight {
    padding: 60px 60px 50px 0;
    font-size: 18px;
    color: $text-gray;
    font-weight: 300;
    line-height: 1.5;
}

.navlink {
    font-size: 14px;
    font-weight: 200;
}

.navlink:after {
    content: "→";
    margin-left: 5px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.codeContainer {
    height: 100vh;

    .slash-image {
        width: auto;
        height: 100%;
        left: 18% !important;
    }

    .split-row-before {
        left: -35%;
    }

    .codecontainerText {
        padding-top: 15%;

        h2 {
            font-size: 38px;
            font-weight: 100;
            margin: 0;
            line-height: 1;
        }

        p {
            font-size: 18px;
            color: $text-gray;
            font-weight: 200;
            padding: 20px 0;
            margin: 0;
        }
    }

    .flex-container>div {
        line-height: 1.5;
    }

    .borderColor {
        border-right: 1px solid #F2F2F2;
        border-left: 1px solid #F2F2F2;
    }

    .flex-container {
        margin-top: 40px;
        max-width: 350px;

        h4 {
            line-height: 1;
        }

        p {
            padding: 10px 0;
            font-size: 14px;
        }

    }
}

//footer style
.customerContainer {
    margin: 110px 0;

    .highlightText {
        h2 {
            font-size: 38px;
            font-weight: 100;
            margin: 0;
            line-height: 1;
        }

        p {
            font-size: 18px;
            color: $text-gray;
            font-weight: 200;
            padding: 20px 0;
            margin: 0;
        }
    }

    .roadMapContainer {
        position: relative;

        h3 {
            font-size: 90px;
            font-weight: 300;
            color: #222222;
            margin: 0;
            line-height: 1;
            text-align: left;
            transform: rotate(-90deg);
        }

        section {
            float: left;
        }

        .firstNode {}

        .secondNode {}

        .thirdNode {}

        // h2{
        //     font-size: 90px;
        //     font-weight: 300;
        //     color: #222222;
        //     text-align: left;
        //     -webkit-transition: all 300ms ease-out;
        //     -moz-transition: all 300ms ease-out;
        //     -ms-transition: all 300ms ease-out;
        //     -o-transition: all 300ms ease-out;
        //     transition: all 300ms ease-out;
        //     -webkit-transform: rotate(-90deg);
        //     -moz-transform: rotate(-90deg);
        //     -ms-transform: rotate(-90deg);
        //     transform: rotate(-90deg);
        // }

    }

}


footer {
    .grid-container {
        border-top: 1px solid #f0f0f0;

        ul {
            list-style: none;
            padding: 0;
            margin: 40px 0;
            float: left;

            li {
                display: inline-block;
                padding: 0 15px;
                vertical-align: top;
                padding-top: 10px;
                color: #757575;
                font-weight: 300;

                img {
                    margin-top: -8px;
                }
            }
        }

        p {
            margin-top: 45px;
            text-align: right;
            color: #757575;
            font-weight: 300;
            margin-bottom: 40px;
            float: right;
        }
    }
}

//portfolio
.portfolioGroup {
    padding: 5% 0;
    height: auto;
    overflow: hidden;

    .company-container {
        width: 30%;
        float: left;

        h5 {
            margin: 0;
            font-size: 20px;
            font-weight: 400;
            margin-top: 40px;
        }

        p {
            font-size: 18px;
            color: #757575;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .company-logo-container {
        width: 65%;
        float: right;

        .hover-logo {
            width: 33%;
            float: left;
            margin-bottom: 40px;

            a {
                img {
                    max-width: 180px;
                    margin: auto;
                    display: block;
                }
            }
        }
    }
}

.companies-conainer {
    h4 {
        font-size: 20px;
        font-weight: 400;
    }

    .company-names {
        margin-bottom: 50px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                min-width: 17%;
                margin-right: 7%;
                padding: 20px 0;
                color: #757575;
                font-size: 16px;
                font-weight: 300;
                // border-bottom: 1px solid #757575;
                border-top: 1px solid rgba(0, 0, 0, 0.1);

            }
        }
    }
}

#profileContainer {
    .split-row-content {
        width: 35%;

        h2 {
            font-size: 38px;
            padding-bottom: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .groupswitch {
        padding-top: 40px;

        .header-switch {
            margin: 0;
            padding: 0;
            position: relative;

            li {
                padding: 5px 0;

                a {
                    text-decoration: none;
                    color: #757575;
                    font-size: 17px;
                    font-weight: 300;
                    padding: 0 15px;
                }

                list-style: none;
            }

            li:before {
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 1px;
                height: 100%;
                background: #999;
            }

            li:after {
                content: "";
                position: absolute;
                top: 13%;
                left: 0;
                width: 13px;
                height: 1px;
                background: #999;
            }

            li:nth-child(1):after {
                top: 50px;
            }

            li:nth-child(2):after {
                top: 80px;
            }

            li:nth-child(3):after {
                top: 110px;
            }
        }

        .header-switch:after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: -3px;
            border: 3.5px solid transparent;
            border-top: 5px solid #999;
        }
    }
}


@media only screen and (max-width: 600px) {
    #banner {
        height: auto;
        .split-row-adjustment-2 {
            .slash-image {
                left: 0 !important;
                height: 400px;
                position: relative;
            }
            .split-row-content {
                padding: 50px 20px;
                width: 100%;
                h2{
                    font-size: 34px;
                }
                img{margin:0px 0;max-width: 100px;}
                p{line-height: 1.4;}
            }
        }
        .menu-items{
            background-color: $text-color-green;
            width: 106%;
            ul{
                display:block;
                .firstChild{display: none;}
                li{
                    text-align: left;
                    color: #f0f0f0;
                    font-size: 28px;
                }
            }
        }
       .grid-container {z-index: -1;}
    }
    .transformContainer {
        .highlightContainer {
            .latestText {
                position: relative;
                width: auto;
                right: 0;
                padding: 80px 60px;
                left: 0;
            }
        }
    }

    .customerContainer {
        margin: 20px 0;

        .highlightText {
            width: 100%;
        }
    }

    .codeContainer {
        height: auto;

        .split-row-before {
            display: none;
        }

        .slash-image {
            position: relative;
            height: 400px;
            left: 0 !important;
        }

        .codecontainerText {
            padding: 60px 0;
            width: 100%;
        }

        .flex-container {
            min-width: 100%;
            margin-top: 20px;
        }
    }
    .manageContainer{
        .flex-container {
            display: block;
            width: 100%;
            overflow: hidden;
            div{
                width: 45%;
                float: left;
                margin: 0;
                line-height: 1.1;
                min-height: 100px;
            }
        }
    }

    .roadmap-line {
        height: auto;
        overflow: visible;

        .roadmap-line-items {
            position: relative;
            width: 100%;

            .timeline-item {
                float: none;
                width: auto;
                height: auto;
                margin: 0 0 40px 0;
                padding: 0 0 0 40px;

                .timeline-item-period {
                    position: relative;
                    left: 0;
                    bottom: auto;
                    width: auto;
                    font-size: 50px;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }

                .timeline-item-content {
                    position: relative;
                    left: 0;
                    right: 0;
                    bottom: auto;
                }
            }

            .timeline-item:after {
                bottom: auto;
                top: 35px;
                left: -15px;
                width: 40px;
                height: 1px;
                background: #757575;
            }
        }

        .roadmap-line-items:after {
            height: 0px;
        }

    }

    footer {
        .grid-container {
            ul {
                float: none;
                margin-bottom: 5px;
            }

            .footerLink {
                margin: 10px 0 20px 0;

                li {
                    display: block;
                }
            }

            p {
                float: none;
                margin: 10px 0 40px 0;
                text-align: left;
                padding-left: 10px;
            }

        }
    }
}
@media only screen and (max-width: 1024px) {
    #banner{
        .split-row-before{
            left: -39%;
        }
    }
}
@media only screen and (max-width: 768px) {
    #banner{
        .split-row-before{
            left: -38%;
        }
    }
}