@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap");
header {
  position: fixed;
  width: 100%;
  padding: 20px;
  z-index: 999;
}

header img {
  width: 190px;
}

.bgwater #bubbles {
  padding: 100px 0;
}

.bgwater .bgwaterleft {
  left: -55px;
  height: 100%;
  position: absolute;
}

.bgwater .bgwaterright {
  right: -55px;
  height: 100%;
  position: absolute;
}

.bgwater .bubbleContainer {
  position: relative;
  width: 100%;
  height: calc(100vh + 0px);
  padding: 80px 8% 0 8%;
}

.bgwater .bubbleContainer h3 {
  font-size: 80px;
  color: #fff;
  line-height: 1;
  margin-left: 150px;
  z-index: 9;
  position: relative;
}

.bgwater .bubbleContainer .imageContainer {
  width: 280px;
  overflow: hidden;
  height: calc(100% - 200px);
  border-radius: 0 30% 0 30%;
  margin-top: -25px;
  float: left;
}

.bgwater .bubbleContainer .imageContainer img {
  height: 100%;
  width: 100%;
}

.bgwater .bubbleContainer .bubbleGroup {
  float: left;
  position: relative;
  width: calc(100% - 350px);
  height: 100%;
}

.bgwater .bubbleContainer .bubbleGroup .bubbleChild1 .drop {
  left: 6% !important;
  margin-top: 7% !important;
}

.bgwater .bubbleContainer .bubbleGroup .bubbleChild2 .drop {
  left: 25% !important;
  margin-top: 38% !important;
  width: 170px;
  height: 170px;
}

.bgwater .bubbleContainer .bubbleGroup .bubbleChild3 .drop {
  left: 58% !important;
  margin-top: 10% !important;
}

.bgwater .bubbleContainer .bubbleGroup .bubbleChild4 .drop {
  left: 100% !important;
  margin-top: -10% !important;
  width: 180px;
  height: 180px;
}

.bgwater .bubbleContainer .bubbleGroup .bubbleChild5 .drop {
  left: 98% !important;
  margin-top: 40% !important;
  width: 130px;
  height: 130px;
}

.bgpricing {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bgpricing .pricingTextContainer {
  float: left;
  width: 50%;
  position: relative;
  z-index: 9;
  padding-top: calc(25% - 150px);
}

.bgpricing .pricingTextContainer h3 {
  font-size: 70px;
  padding-left: 0;
  color: #049d90;
}

.bgpricing .pricingTextContainer ul {
  list-style: none;
  padding: 0;
  float: left;
}

.bgpricing .pricingTextContainer ul li {
  font-weight: 600;
  font-size: 16px;
  padding: 7px 10px;
}

.bgpricing .pricingTextContainer ul li img {
  width: 35px;
}

.bgpricing .pricingTextContainer ul .bg {
  font-weight: 400;
  font-size: 14px;
  background-color: #58b89e;
  margin: 10px 0;
  color: #fff;
}

.bgpricing .pricingTextContainer section {
  padding-left: 35px;
}

.bgpricing .pricingTextContainer .centerCont li {
  padding: 7px 50px 7px 70px;
}

.bgpricing .pricingImgContainer {
  float: left;
  width: 50%;
}

.bgpricing .pricingImgContainer img {
  width: 100%;
  transform: scale(1.6);
}

.bgLayout {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 85px;
}

.bgLayout .pricingTextContainer {
  float: left;
  width: 50%;
  position: relative;
  z-index: 9;
  padding-top: 20px;
}

.bgLayout .pricingTextContainer .layouttext {
  padding: 0 130px;
}

.bgLayout .pricingTextContainer .layouttext h3 {
  font-size: 70px;
  color: #049d90;
}

.bgLayout .pricingTextContainer .layouttext h4 {
  font-size: 22px;
  line-height: 1.7;
}

.bgLayout .pricingTextContainer .layouttext p {
  font-size: 16px;
  padding: 8px 0;
}

.bgLayout .pricingTextContainer .layouttext a {
  line-height: 2.5;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.bgLayout .pricingTextContainer .layouttext a img {
  width: 35px;
}

.bgLayout .pricingTextContainer .layouttext .arrowright {
  transform: scale(0.6);
  position: relative;
  right: -177px;
  top: -88px;
}

.bgLayout .pricingImgContainer {
  float: left;
  width: 50%;
}

.bgLayout .pricingImgContainer .layoutImg {
  width: 50%;
  height: 440px;
  background-image: url("./../../img/Layout/Img-3.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.bgLayout .pricingImgContainer .layoutImg img {
  height: 90px;
  width: 90px;
  position: absolute;
  right: -45px;
  bottom: 100px;
}
